<div class="u-spacer">
  <div class="grid">
    <div class="col--6-12">
      <label>
        Selecteer voorzitter
        {{editor-plugins/personen-selector onSelect=(action "selectVoorzitter") persoon=voorzitter}}
      </label>
    </div>
    <div class="col--6-12">
      <label>
        Selecteer algemeen directeur
        {{editor-plugins/personen-selector onSelect=(action "selectSecretaris") persoon=secretaris}}
      </label>
    </div>
  </div>
</div>

<div>
  <label>Geef overige aanwezigen in</label>
  {{#if loadData.isRunning}}
    <p class="loader"><span class="u-visually-hidden">Aan het laden</span></p>
  {{else}}
    <div class="u-spacer--tb--tiny">
      {{editor-plugins/overige-aanwezigen-table overigeAanwezigen=overigeAanwezigen bestuursorgaan=bestuursorgaan}}
    </div>
  {{/if}}
</div>

{{editor-plugins/aanwezigen-output-rdfa id=outputId class="u-hidden"
  voorzitter=voorzitter
  secretaris=secretaris
  overigeAanwezigen=overigeAanwezigen
  propertyToUse=propertyToUse
}}
{{yield}}
