{{#if aanwezigenBijAgendapunt}}
	<p>
	  <strong>Aanwezige leden</strong>
	  <br>
	  {{#each sortedMandatarissenAanwezigen as |aanwezige|}}
	    <span property={{propertyToUse}} resource={{aanwezige.uri}} typeof={{aanwezige.rdfaBindings.class}}>
	      <span property="mandaat:isBestuurlijkeAliasVan" resource={{aanwezige.isBestuurlijkeAliasVan.uri}}>
	        <span property="persoon:gebruikteVoornaam">
	          {{aanwezige.isBestuurlijkeAliasVan.gebruikteVoornaam}}
	        </span>
	        <span property="foaf:familyName">
	          {{aanwezige.isBestuurlijkeAliasVan.achternaam}}
	        </span>
	      </span>
	    </span>,&nbsp;
	  {{/each}}
	  {{#each sortedPersonenAanwezigen as |aanwezige|}}
	    <span property={{propertyToUse}} resource={{aanwezige.uri}} typeof={{aanwezige.rdfaBindings.class}}>
	      <span property="persoon:gebruikteVoornaam">
	        {{aanwezige.gebruikteVoornaam}}
	      </span>
	      <span property="foaf:familyName">
	        {{aanwezige.achternaam}}
	      </span>
	    </span>,&nbsp;
	  {{/each}}
	</p>
	<br>
	{{!-- <p> TODO AFWEZIGEN
	  <strong>Afwezige leden</strong>
	  <br>
	  {{#each sortedMandatarissenAfwezigen as |afwezige|}}
	    <span property={{propertyToUse}} resource={{afwezige.uri}} typeof={{afwezige.rdfaBindings.class}}>
	      <span property="mandaat:isBestuurlijkeAliasVan" resource={{afwezige.isBestuurlijkeAliasVan.uri}}>
	        <span property="persoon:gebruikteVoornaam">
	          {{afwezige.isBestuurlijkeAliasVan.gebruikteVoornaam}}
	        </span>
	        <span property="foaf:familyName">
	          {{afwezige.isBestuurlijkeAliasVan.achternaam}}
	        </span>
	      </span>
	    </span>,&nbsp;
	  {{/each}}
	</p>
	<br> --}}
	{{#if voorzitter}}
	  <p>
	  	<strong>Voorzitter van de zitting</strong>
	  	<br>
	    <span property="besluit:heeftVoorzitter" resource={{voorzitter.uri}} typeof={{voorzitter.rdfaBindings.class}}>
	      <span property="persoon:gebruikteVoornaam">
	        {{voorzitter.gebruikteVoornaam}}
	      </span>
	      <span property="foaf:familyName">
	        {{voorzitter.achternaam}}
	      </span>
	    </span>
	  </p>
	  <br>
	{{/if}}
	{{#if secretaris}}
	  <p>
	  	<strong>Secretaris van de zitting</strong>
	  	<br>
	    {{!-- For now disabled until we have data
	    <span property="besluit:heeftSecretaris" resource={{secretaris.uri}} typeof={{secretaris.rdfaBindings.class}}>
	      <span property="persoon:gebruikteVoornaam">
	        {{secretaris.gebruikteVoornaam}}
	      </span>
	      <span property="foaf:familyName">
	        {{secretaris.achternaam}}
	      </span>
	    </span>
	    --}}
	    <span property="ext:secretarisTemporaryAsText">
	      {{secretaris}}
	    </span>
	  </p>
	  <br>
	{{/if}}
{{else}}
  <p>
	  <strong>Aanwezige leden</strong>
	  <br>
    {{#each sortedMandatarissenAanwezigen as |aanwezige|}}
      <span property={{propertyToUse}} resource={{aanwezige.uri}} typeof={{aanwezige.rdfaBindings.class}}>
        <span property="mandaat:isBestuurlijkeAliasVan" resource={{aanwezige.isBestuurlijkeAliasVan.uri}}>
          <span property="persoon:gebruikteVoornaam">
            {{aanwezige.isBestuurlijkeAliasVan.gebruikteVoornaam}}
          </span>
          <span property="foaf:familyName">
            {{aanwezige.isBestuurlijkeAliasVan.achternaam}}
          </span>
        </span>
      </span>,&nbsp;
    {{/each}}
    {{#each sortedPersonenAanwezigen as |aanwezige|}}
      <span property={{propertyToUse}} resource={{aanwezige.uri}} typeof={{aanwezige.rdfaBindings.class}}>
        <span property="persoon:gebruikteVoornaam">
          {{aanwezige.gebruikteVoornaam}}
        </span>
        <span property="foaf:familyName">
          {{aanwezige.achternaam}}
        </span>
      </span>,&nbsp;
    {{/each}}
  </p>
  <br>
  {{!-- <p> TODO AFWEZIGEN
	  <strong>Afwezige leden</strong>
	  <br>
    {{#each sortedMandatarissenAfwezigen as |afwezige|}}
      <span property={{propertyToUse}} resource={{afwezige.uri}} typeof={{afwezige.rdfaBindings.class}}>
        <span property="mandaat:isBestuurlijkeAliasVan" resource={{afwezige.isBestuurlijkeAliasVan.uri}}>
          <span property="persoon:gebruikteVoornaam">
            {{afwezige.isBestuurlijkeAliasVan.gebruikteVoornaam}}
          </span>
          <span property="foaf:familyName">
            {{afwezige.isBestuurlijkeAliasVan.achternaam}}
          </span>
        </span>
      </span>,&nbsp;
    {{/each}}
  </p>
  <br> --}}
  {{#if voorzitter}}
    <p>
    	<strong>Voorzitter</strong>
    	<br>
      <span property="besluit:heeftVoorzitter" resource={{voorzitter.uri}} typeof={{voorzitter.rdfaBindings.class}}>
        <span property="persoon:gebruikteVoornaam">
          {{voorzitter.gebruikteVoornaam}}
        </span>
        <span property="foaf:familyName">
          {{voorzitter.achternaam}}
        </span>
      </span>
    </p>
    <br>
  {{/if}}
  {{#if secretaris}}
    <p>
    	<strong>Secretaris</strong>
    	<br>
      {{!-- For now disabled until we have data
        <span property="besluit:heeftSecretaris" resource={{secretaris.uri}} typeof={{secretaris.rdfaBindings.class}}>
        <span property="persoon:gebruikteVoornaam">
        {{secretaris.gebruikteVoornaam}}
        </span>
        <span property="foaf:familyName">
        {{secretaris.achternaam}}
        </span>
        </span>
        --}}
      <span property="ext:secretarisTemporaryAsText">
        {{secretaris}}
      </span>
    </p>
    <br>
  {{/if}}
{{/if}}
<!-- Afwezigen met kennisgeving -->
<!-- Afwezigen zonder kennisgeving -->
