{{#if aanwezigenBijAgendapunt}}
<!-- Aanwezigen -->
<ul class="bullet-list">
  {{#if voorzitter}}
    <li>Voorzitter van de zitting:&nbsp;
      <span property="besluit:heeftVoorzitter" resource={{voorzitter.uri}} typeof={{voorzitter.rdfaBindings.class}}>
        <span property="persoon:gebruikteVoornaam">
          {{voorzitter.gebruikteVoornaam}}
        </span>
        <span property="foaf:familyName">
          {{voorzitter.achternaam}}
        </span>
      </span>
    </li>
  {{/if}}
  <li>&nbsp;
    {{#each sortedAanwezigen as |aanwezige|}}
      <span property={{propertyToUse}} resource={{aanwezige.uri}} typeof={{aanwezige.rdfaBindings.class}}>
        <span property="persoon:gebruikteVoornaam">
          {{aanwezige.gebruikteVoornaam}}
        </span>
        <span property="foaf:familyName">
          {{aanwezige.achternaam}}
        </span>
      </span>, &nbsp;
    {{/each}}
  </li>
  {{#if secretaris}}
    <li>Secretaris van de zitting:&nbsp;
      {{!-- For now disabled until we have data
      <span property="besluit:heeftSecretaris" resource={{secretaris.uri}} typeof={{secretaris.rdfaBindings.class}}>
        <span property="persoon:gebruikteVoornaam">
          {{secretaris.gebruikteVoornaam}}
        </span>
        <span property="foaf:familyName">
          {{secretaris.achternaam}}
        </span>
      </span>
      --}}
      <span property="ext:secretarisTemporaryAsText">
        {{secretaris}}
      </span>
    </li>
  {{/if}}
</ul>
{{else}}
  <ul class="bullet-list smaller">
    {{#if voorzitter}}
      <li>Voorzitter van de zitting:&nbsp;
        <span property="besluit:heeftVoorzitter" resource={{voorzitter.uri}} typeof={{voorzitter.rdfaBindings.class}}>
          <span property="persoon:gebruikteVoornaam">
            {{voorzitter.gebruikteVoornaam}}
          </span>
          <span property="foaf:familyName">
            {{voorzitter.achternaam}}
          </span>
        </span>
      </li>
    {{/if}}
    <li>&nbsp;
      {{#each sortedAanwezigen as |aanwezige|}}
        <span property={{propertyToUse}} resource={{aanwezige.uri}} typeof={{aanwezige.rdfaBindings.class}}>
          <span property="persoon:gebruikteVoornaam">
            {{aanwezige.gebruikteVoornaam}}
          </span>
          <span property="foaf:familyName">
            {{aanwezige.achternaam}}
          </span>
        </span>, &nbsp;
      {{/each}}
    </li>
    {{#if secretaris}}
      <li>Secretaris van de zitting:&nbsp;
        {{!-- For now disabled until we have data
          <span property="besluit:heeftSecretaris" resource={{secretaris.uri}} typeof={{secretaris.rdfaBindings.class}}>
          <span property="persoon:gebruikteVoornaam">
          {{secretaris.gebruikteVoornaam}}
          </span>
          <span property="foaf:familyName">
          {{secretaris.achternaam}}
          </span>
          </span>
          --}}
        <span property="ext:secretarisTemporaryAsText">
          {{secretaris}}
        </span>
      </li>
    {{/if}}
  </ul>
{{/if}}
<!-- Afwezigen met kennisgeving -->
<!-- Afwezigen zonder kennisgeving -->
