<Say::Hint @size="small" @type="sectioned" as |hint|>
	<hint.header>
    {{#if bestuursorgaanUri}}
      {{#if loadData.isRunning}}
        Plugin laden
        <p class="loader"><span class="u-visually-hidden">Aan het laden</span></p>
      {{else}}
      	Wil u graag de <strong>aanwezigen</strong> beheren?
      {{/if}}
    {{else}}
    	Gelieve eerst het <strong>bestuursorgaan</strong> te selecteren bovenaan het document, voor u de aanwezigen invoert.
    {{/if}}
	</hint.header>

	{{#if bestuursorgaanUri}}
		{{#unless loadData.isRunning}}
			<hint.footer>
			  <Say::ActionGroup>
				  <Say::Button @width="narrow" @onClick={{action "togglePopup"}}>Beheer aanwezigen</Say::Button>
	{{!-- 	      {{wu-button
		        label="Beheer aanwezigen"
		        isNarrow=true
		        onClick=(action "togglePopup")
		        disabled=loadData.isRunning
		      }} --}}
			  </Say::ActionGroup>
			</hint.footer>
		{{/unless}}
	{{/if}}
</Say::Hint>

{{#if popup}}
	<Say::Modal @size="wide" @type="sectioned" as |modal|>
		<modal.header> {{!-- @onClick={{action "togglePopup"}} --}}
			<div class="vl-grid">
			  <div class="vl-col--10-12">
			    <p class="vl-modal-dialog__title">
			    	Beheer aanwezigen
			    </p>
			  </div>
		    <div class="vl-col--2-12 u-align-right">
		      <a class="link--icon--close" href="#" {{action "togglePopup"}}>
		        <span class="u-visually-hidden">Venster sluiten</span>
		      </a>
		    </div>
			</div>
		</modal.header>
		<modal.content @padded="small">
      {{editor-plugins/aanwezigen-modal
        bestuurseenheid=bestuurseenheid
        bestuursorgaan=bestuursorgaan
        editMode=info.editMode
        outputId=outputId
        propertyToUse=info.propertyToUse
        domTable=info.domNodeToUpdate
        editTable=info.editMode
      }}
		</modal.content>
		<modal.footer>
		  <Say::ActionGroup>
			  <Say::Button @width="narrow" @onClick={{action 'insert'}}>Voeg aanwezigen in</Say::Button>
			  <Say::Button @width="narrow" @style="alt" @onClick={{action 'togglePopup'}}>Annuleer</Say::Button>
		  </Say::ActionGroup>
		</modal.footer>
	</Say::Modal>
{{/if}}

{{yield}}
