<div class="u-spacer">
  <div class="grid">
    <div class="col--12-12 u-align--right">
      {{#unless (is-equal viewMode 'default')}}
        {{#wu-link-button class="button--alt button--small" isNarrow=true onClick=(action "goHome")}}
          <i class="vi vi-cross vi-u-s"></i>Terug naar hoofdscherm
        {{/wu-link-button}}
      {{else}}
        {{#wu-link-button class="button--small" isNarrow=true onClick=(action "createPerson")}}
          <i class="vi vi-plus vi-u-s"></i>Maak nieuwe persoon aan
        {{/wu-link-button}}
      {{/unless}}
    </div>
  </div>
</div>

{{#if (is-equal viewMode 'default')}}
<div class="u-spacer">
  <div class="grid">
    <div class="col--6-12">
      <label>
        Selecteer voorzitter van de zitting
        {{editor-plugins/personen-selector onSelect=(action "selectVoorzitter") persoon=voorzitter}}
      </label>
    </div>
    <div class="col--6-12">
      <label>
        Selecteer secretaris van de zitting
        {{input class="input-field input-field--block u-spacer--tiny js-js-input-pattern-bound"
          value=(mut secretaris) placeholder="Geef hier een naam op."
        }}
        {{!-- disable unitil data
        {{editor-plugins/personen-selector onSelect=(action "selectSecretaris") persoon=secretaris}}
        --}}
      </label>
    </div>
  </div>
</div>

<div>
  <label>Geef overige aanwezigen in</label>
  {{#if loadData.isRunning}}
    <p class="loader"><span class="u-visually-hidden">Aan het laden</span></p>
  {{else}}
    {{#if tableDataReady}}
      <div class="u-spacer--tb--tiny">
        {{editor-plugins/overige-mandatarissen-aanwezigen-table overigeAanwezigen=overigeAanwezigen bestuursorgaan=bestuursorgaan cachedPersonen=cachedPersonen cachedMandatarissen=cachedMandatarissen}}
      </div>
      <div class="u-spacer--tb--tiny">
        {{editor-plugins/overige-aanwezigen-table overigeAanwezigen=overigeAanwezigen bestuursorgaan=bestuursorgaan cachedPersonen=cachedPersonen cachedMandatarissen=cachedMandatarissen}}
      </div>
    {{/if}}
  {{/if}}
</div>
{{/if}}
{{yield}}

{{#if (is-equal viewMode 'createPerson')}}
  {{aanwezigen-plugin/create-person onCancel=(action 'cancelCreatePerson') onCreate=(action 'finishCreatePerson')}}
{{/if}}



{{editor-plugins/aanwezigen-output-rdfa id=outputId class="u-hidden"
  voorzitter=voorzitter
  secretaris=secretaris
  overigeAanwezigen=overigeAanwezigen
  propertyToUse=propertyToUse
}}
