{{#unless (is-equal viewMode 'default')}}
  <div class="u-padding--round--tiny u-background--gray-lightest">
    {{#wu-link-button class="button--alt button--small" isNarrow=true onClick=(action "goHome")}}
      <i class="vi vi-cross vi-u-s"></i>Terug naar hoofdscherm
    {{/wu-link-button}}
  {{!-- hiding it because causing many issues
  {{else}}
    {{#wu-link-button class="button--small" isNarrow=true onClick=(action "createPerson")}}
      <i class="vi vi-plus vi-u-s"></i>Maak nieuwe persoon aan
    {{/wu-link-button}}
  --}}
  </div>
{{/unless}}

{{#if (is-equal viewMode 'default')}}
  {{#unless tableDataReady}}
    <p>Bezig met laden van de aanwezigenlijst</p>
    <p class="loader"><span class="u-visually-hidden">Aan het laden</span></p>
  {{else}}
    <div class="u-spacer">
      <div class="grid">
        <div class="col--6-12">
          <label class="form__label">
            Voorzitter van de zitting
            {{editor-plugins/mandatarissen-selector onSelect=(action "selectVoorzitter") mandataris=voorzitter}}
          </label>
        </div>
      </div>
    </div>
    <div class="u-spacer">
      <div class="grid">
        <div class="col--6-12">
          <label class="form__label">
            Secretaris van de zitting
            {{editor-plugins/functionaris-selector onSelect=(action "selectSecretaris") functionaris=secretaris bestuurseenheid=this.bestuurseenheid}}
          </label>
        </div>
      </div>
    </div>
    {{#if tableDataReady}}
      <label class="form__label">Aanwezige mandatarissen</label>
      <div class="u-spacer--tb--tiny">
        {{editor-plugins/overige-mandatarissen-aanwezigen-table
          overigeMandatarissenAanwezigen=overigeMandatarissenAanwezigen
          overigeMandatarissenAfwezigen=overigeMandatarissenAfwezigen
          cachedMandatarissen=cachedMandatarissen
          onAddAanwezige=(action "addAanwezigeMandataris")
          onRemoveAanwezige=(action "removeAanwezigeMandataris")
        }}
      </div>
      <br>
      <label class="form__label">Overige aanwezige personen</label>
      <div class="u-spacer--tb--tiny">
        {{editor-plugins/overige-aanwezigen-table
          overigePersonenAanwezigen=overigePersonenAanwezigen
          overigePersonenAfwezigen=overigePersonenAfwezigen
          cachedPersonen=cachedPersonen
          onAddAanwezige=(action "addAanwezigePersoon")
          onRemoveAanwezige=(action "removeAanwezigePersoon")
        }}
      </div>
    {{/if}}
  {{/unless}}
{{/if}}
{{yield}}

{{#if (is-equal viewMode 'createPerson')}}
  {{aanwezigen-plugin/create-person onCancel=(action 'cancelCreatePerson') onCreate=(action 'finishCreatePerson')}}
{{/if}}

{{editor-plugins/aanwezigen-output-rdfa id=outputId class="u-hidden"
  voorzitter=voorzitter
  secretaris=secretaris
  overigeMandatarissenAanwezigen=overigeMandatarissenAanwezigen
  overigeMandatarissenAfwezigen=overigeMandatarissenAfwezigen
  overigePersonenAanwezigen=overigePersonenAanwezigen
  overigePersonenAfwezigen=overigePersonenAfwezigen
  propertyToUse=propertyToUse
}}
