{{#if aanwezigenBijAgendapunt}}
<ul class="bullet-list">
  {{#if voorzitter}}
    <li>
      <span property="besluit:heeftVoorzitter" resource={{voorzitter.uri}} typeof={{voorzitter.rdfaBindings.class}}>
        <span property="persoon:gebruikteVoornaam">
          {{voorzitter.gebruikteVoornaam}}
        </span>
        <span property="foaf:familyName">
          {{voorzitter.achternaam}}
        </span>
        (voorzitter)
      </span>
    </li>
  {{/if}}
  {{#if secretaris}}
    <li>
      <span property="besluit:heeftSecretaris" resource={{secretaris.uri}} typeof={{secretaris.rdfaBindings.class}}>
        {{secretaris.fullName}}
        <span property="persoon:gebruikteVoornaam">
          {{secretaris.gebruikteVoornaam}}
        </span>
        <span property="foaf:familyName">
          {{secretaris.achternaam}}
        </span>
        (voorzitter)
      </span>
    </li>
  {{/if}}
  <li>
    {{#each sortedAanwezigen as |aanwezige|}}
      <span property={{propertyToUse}} resource={{aanwezige.uri}} typeof={{aanwezige.rdfaBindings.class}}>
        <span property="persoon:gebruikteVoornaam">
          {{aanwezige.gebruikteVoornaam}}
        </span>
        <span property="foaf:familyName">
          {{aanwezige.achternaam}}
        </span>
      </span>, &nbsp;
    {{/each}}
  </li>
</ul>
{{else}}
  <ul class="bullet-list">
    {{#if voorzitter}}
      <li>
        <span property="besluit:heeftVoorzitter" resource={{voorzitter.uri}} typeof={{voorzitter.rdfaBindings.class}}>
          <span property="persoon:gebruikteVoornaam">
            {{voorzitter.gebruikteVoornaam}}
          </span>
          <span property="foaf:familyName">
            {{voorzitter.achternaam}}
          </span>
          (voorzitter)
        </span>
      </li>
    {{/if}}
    {{#if secretaris}}
      <li>
         <span property="besluit:heeftSecretaris" resource={{secretaris.uri}} typeof={{secretaris.rdfaBindings.class}}>
          {{secretaris.fullName}}
          <span property="persoon:gebruikteVoornaam">
            {{secretaris.gebruikteVoornaam}}
          </span>
          <span property="foaf:familyName">
            {{secretaris.achternaam}}
          </span>
          (voorzitter)
        </span>
      </li>
    {{/if}}
    <li>
      {{#each sortedAanwezigen as |aanwezige|}}
        <span property={{propertyToUse}} resource={{aanwezige.uri}} typeof={{aanwezige.rdfaBindings.class}}>
          <span property="persoon:gebruikteVoornaam">
            {{aanwezige.gebruikteVoornaam}}
          </span>
          <span property="foaf:familyName">
            {{aanwezige.achternaam}}
          </span>
        </span>, &nbsp;
    {{/each}}
    </li>
  </ul>
{{/if}}
