<ul class="bullet-list">
  {{#if voorzitter}}
    <li>
      <span property={{propertyToUse}} resource={{voorzitter.uri}}>{{voorzitter.fullName}}</span>
    </li>
  {{/if}}
  {{#if secretaris}}
    <li>
      <span property={{propertyToUse}} resource={{secretaris.uri}}>{{secretaris.fullName}}</span>
    </li>
  {{/if}}
  <li>
    {{#each sortedAanwezigen as |aanwezige|}}
      <span property={{propertyToUse}} resource={{aanwezige.uri}}>{{aanwezige.fullName}}</span>, &nbsp;
  {{/each}}
  </li>
</ul>
