<div style="height: 75px;">
  <h1>Selecteer voorzitter</h1>
  {{editor-plugins/personen-selector onSelect=(action "selectVoorzitter") persoon=voorzitter}}
</div>
<div style="height: 75px;">
  <h1>Selecteer secretaris</h1>
  {{editor-plugins/personen-selector onSelect=(action "selectSecretaris") persoon=secretaris}}
</div>
<div>
  <h1>Overige aanwezigen</h1>
  {{#if loadData.isRunning}}
    <p class="loader"><span class="u-visually-hidden">Aan het laden</span></p>
  {{else}}
    {{editor-plugins/overige-aanwezigen-table overigeAanwezigen=overigeAanwezigen bestuursorgaan=bestuursorgaan}}
  {{/if}}
</div>
{{editor-plugins/aanwezigen-output-rdfa id=outputId class="u-hidden"
  voorzitter=voorzitter
  secretaris=secretaris
  overigeAanwezigen=overigeAanwezigen
  propertyToUse=propertyToUse
}}
{{yield}}
